@include media-md{
    .nav {
        .menu-nav {
        height: 100vh;
        transform: translateY(-100%);
        @include transition-ease;
        &.open {
            transform: translateY(0);
        }
    }
}
    .about{
        p{
            font-size: 1rem;
        }
        &__jobs{
            margin: 1rem auto 0 auto;
            display: flex;
            flex-direction: column;
            &__job{
                width: 20rem;
                margin-left: 0rem;
                margin-bottom: 2rem;  
            }
        }
    }
    .projects{
        &__items{
            grid-template-columns: repeat(1,1fr);
        }
        &__item {
            position: relative;
            border-bottom: 5px solid $secondary-color;
            overflow: hidden;
            cursor: pointer;
        
            img {
              width: 100%;
            }
        
            &::after {
              content: '';
              position: absolute;
              top: 100%;
              left: 0;
              height: 100%;
              width: 100%;
              background: $secondary-color;
              opacity: 0;
              @include transition-ease;
            }
        
            &:hover {
              &::after {
                top: 0;
                opacity: 0.9;
              }
              .projects__btn {
                opacity: 1;
              }
            }
          }
        
    }

    // .social-icons{
    //   display:flex;
    //   flex-direction: column;
    //   z-index: 1;
    // }
    .social-icons{
        display: none;
        
    }

    footer{
      transform:
        rotate(90deg)
        translate(-3rem,-5rem);
    
    }
}

