* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  height: 100vh;
  padding-top: 20rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/model-1.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
  background-size: cover;
}

.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.home__name__last {
  color: #1ea1d9;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu-btn__burger {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  top: 1.5rem;
  left: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

.nav .menu-nav {
  opacity: 0.98;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  overflow: hidden;
  background-color: #272727;
  list-style-type: none;
  width: 100%;
  top: 0;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 2rem 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item:hover {
  color: #1ea1d9;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.about__img {
  width: 100%;
  height: 50vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url(../img/model-1.jpg) center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/model-1.jpg) center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 2rem;
}

.about__img__bio {
  width: 80%;
  font-size: 1.5rem;
}

.about__img__bio .title {
  color: #1ea1d9;
  padding-bottom: 1rem;
}

.about__jobs {
  margin: 2rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__jobs__job {
  text-align: left;
  width: 25rem;
  height: 15rem;
  margin-left: 2rem;
  background: #414141;
  padding: 0.5rem;
  border-left: 2px solid #1ea1d9;
}

.about__jobs__job .date {
  color: #1ea1d9;
  padding-bottom: 1rem;
}

.about__jobs__job h3 {
  padding-bottom: 1rem;
}

.about__jobs__job h6 {
  margin: 0.3rem 0;
}

.about__jobs__job:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.projects__img {
  width: 100%;
  height: 40vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/model-1.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
  background-size: cover;
}

.projects__img h1 {
  font-size: 3rem;
  color: #1ea1d9;
  padding-top: 16rem;
}

.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.projects__items__item {
  position: relative;
  border-bottom: 5px solid #1ea1d9;
}

.projects__items__item img {
  width: 100%;
}

.projects__items__item:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.projects__btns {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.projects__btns a:hover {
  color: #1ea1d9;
}

.contact {
  width: 100%;
  height: 100vh;
  padding-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/model-1.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
  background-size: cover;
}

.contact h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact__list {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__list .detail {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.contact .text {
  color: #1ea1d9;
}

@media screen and (max-width: 768px) {
  .nav .menu-nav {
    height: 100vh;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-nav.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .about p {
    font-size: 1rem;
  }
  .about__jobs {
    margin: 2rem auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__jobs__job {
    margin-bottom: 2rem;
  }
  .projects__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
  }
  footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem);
  }
}

.social-icons {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  font-size: 2rem;
}

.social-icons__icon {
  padding: 0.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons__icon:hover {
  color: #1ea1d9;
}

footer {
  font-size: 1rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

body {
  background: #272727;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.second-text {
  color: #1ea1d9;
}
/*# sourceMappingURL=main.css.map */